.leaflet-control-geocoder a {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
}
.leaflet-control-geocoder {
	/*box-shadow: 0 1px 7px #999;
	background: #f8f8f9;*/
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	position: absolute !important;
	margin-left: 50px !important;
}

.leaflet-control-geocoder a {
	background-image: url('/static/images/search.png');
	width: 26px;
	height: 26px;
	background-size: 70%;
}

.leaflet-touch .leaflet-control-geocoder a {
	width: 44px;
	height: 44px;
}

.leaflet-control-geocoder .leaflet-control-geocoder-form,
.leaflet-control-geocoder-expanded .leaflet-control-geocoder-toggle {
	display: none;
}

.leaflet-control-geocoder-expanded .leaflet-control-geocoder-form {
	display: inline-flex;
	position: relative;
}

.leaflet-control-geocoder-form input[type="text"]{
	width: 300px;
	height: 26px;
}

.leaflet-control-geocoder-form input[type="submit"]{
	width: 100px;
	height: 26px;
}
