
.photo-img {
	width: 100px;
	height: 85px;
}

.text-price {
	font-size: 14px;
	font-weight: bold;
	color: darkred;
}

.leaflet-popup-content {
	margin: 10px;
}

.leaflet-popup-content-wrapper {
	border-radius: 8px; 
}

.leaflet-sidebar {
	height: auto;
}

