
.leaflet-draw-draw-polyline {
	background-image: url('/static/images/length.png') !important;
	background-size: 50%;
	background-position: center !important;
}

.leaflet-draw-draw-remove {
	background-image: url('/static/images/delete.png') !important;
	background-size: 50%;
	background-position: center !important;
	cursor: pointer;
}

.leaflet-sidebar-control {
	display: block;
	width: 26px;
	height: 52px;
	background-image: url('/static/images/delete.png') !important;
	background-size: 50%;
	background-position: center !important;
	cursor: pointer;
}