
{% if data %}

	<div style="display: flex; justify-content: flex-start;">

		<div style="margin-right: 5px;">
			{% if data.photo %}
				<img class="img-thumbnail photo-img" src="{{STATIC_URL}}images/photos/{{data.guid}}/1.jpg">
			{% endif %}
		</div>
		
		<div class="text-11 text-bold">
			
			<span class="text-price">{{data.price|cut:'.0'}} тыс. руб.</span>
			<br>

			<span>{{data.date}}</span>
			<br>

			<span>{{data.street}}</span>
			{% if data.house %}
				<span>, {{data.house}}</span>
			{% endif %}
			{% if data.fraction %}
				<span> {{data.fraction}}</span>
			{% endif %}
			<br>

			{% block additional_info %}	
			{% endblock additional_info %}
			
			<br>
			<span style="display: block; text-align: right;">
				<a href="#">Подробнее</a>
			</span>
			
		</div>

	</div>
{% endif %}