{% extends "base_popup.html" %}

{% block additional_info %}	

	<hr style="margin: 0px 0px 5px 0px;">

	<span style="text-decoration: underline;">Дом: {{data.type_object}}</span>

	{% if data.total_area %}
		<span>, {{data.total_area|cut:'.0'}}</span>
	{% endif %}
	{% if data.living_area %}
		<span>/{{data.living_area|cut:'.0'}}</span>
	{% endif %}
	{% if data.kitchen_area %}
		<span>/{{data.kitchen_area|cut:'.0'}}</span>
	{% endif %}
	{% if data.plot_area %}
		<span>/{{data.plot_area|cut:'.0'}}</span>
	{% endif %}

{% endblock additional_info %}
