{% extends "base_popup.html" %}

{% block additional_info %}

	<hr style="margin: 0px 0px 5px 0px;">

	<span style="text-decoration: underline;">{{data.type_object}}</span>

	{% if data.total_area %}
		<span>, {{data.total_area|cut:'.0'}}</span>
	{% endif %}
	{% if data.living_area %}
		<span>/{{data.living_area|cut:'.0'}}</span>
	{% endif %}
	{% if data.kitchen_area %}
		<span>/{{data.kitchen_area|cut:'.0'}}</span>
	{% endif %}

	{% if data.floor_flat %}
		<span style="height: 15px;">, эт. {{data.floor_flat}}</span>

		{% if data.floors %}
			<span>/{{data.floors}}</span>
		{% endif %}
	{% endif %}

{% endblock additional_info %}



