{% extends "base_popup.html" %}

{% block additional_info %}	

	<hr style="margin: 0px 0px 5px 0px;">

	<span style="text-decoration: underline;">Участок: {{data.type_object}}</span>

	{% if data.plot_area %}
		<span>, {{data.plot_area|cut:'.0'}}</span>
	{% endif %}

{% endblock additional_info %}