<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<!--CSS-->		
		<link href="{{STATIC_URL}}js/bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="{{STATIC_URL}}css/core.css" rel="stylesheet">

		<!--JS-->
		<script src="{{STATIC_URL}}js/JQuery/jquery-2.1.0.min.js"></script>
		<script src="{{STATIC_URL}}js/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
		
		<script src="{{STATIC_URL}}js/backbone/underscore.js"></script>
		<script src="{{STATIC_URL}}js/backbone/backbone.js"></script>
		<script src="{{STATIC_URL}}js/GIS.js"></script>

		{% include 'leaflet.html' %}

		<script>
			GIS.ENV.STATIC_URL = '{{STATIC_URL}}';
			GIS.ENV.STATIC_GIS = '{{STATIC_GIS}}';
		</script>

	</head>

	<body>

		{% include "header.html" %}

		{% include 'map.html' %}

		{% include 'sidebar-core.html' %}

		{% include 'login-dialog.html' %}
		
	</body>

</html>