<header>
	<nav class="navbar navbar-default" style="border-radius: 0px;" role="navigation">
  		<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <!--<div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar">апапв</span>
        <span class="icon-bar">ыаввы</span>
        <span class="icon-bar">вава</span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>-->

		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			    <ul class="nav navbar-nav">
			        <li><a href="#">Карта</a></li>
			        <li><a href="#">Информация</a></li>
			        <li><a href="#">О проекте</a></li>
			    </ul>

			    <ul id="nav-user-not-entered" class="nav navbar-nav navbar-right">
			    	<li><a href="#" onclick="$('#login-dialog').modal('show');">Войти</a></li>
			    </ul>
		      	<ul id="nav-user-entered" style="display: none;" class="nav navbar-nav navbar-right">
			        <li><p class="navbar-text"><span id="user-name-text" style="color: aliceblue;">Вы вошли как Дьяченко Роман</span></p></li>
			        <li class="dropdown">
			          	<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span></a>
				        <ul class="dropdown-menu" role="menu">
				            <li><a href="#">Ваш профиль</a></li>
				            <li class="divider"></li>
				            <li><a href="#">Выйти</a></li>
				        </ul>
			        </li>
		      	</ul>
		    </div>
  		</div>
  	</nav>
</header>