<!--leaflet/Leaflet plugins css files -->

<link rel="stylesheet" href="{{STATIC_URL}}js/Leaflet/leaflet-0.7.2/leaflet.css" />
<script src="{{STATIC_URL}}js/Leaflet/leaflet-0.7.2/leaflet-src.js"></script>

<link rel="stylesheet" href="{{STATIC_URL}}js/Leaflet/leaflet-plugins/leaflet-locatecontrol/src/L.Control.Locate.css" />
<script src="{{STATIC_URL}}js/Leaflet/leaflet-plugins/leaflet-locatecontrol/src/L.Control.Locate.js" ></script>

<link rel="stylesheet" href="{{STATIC_URL}}js/Leaflet/leaflet-plugins/leaflet-sidebar/src/L.Control.Sidebar.css" />
<script src="{{STATIC_URL}}js/Leaflet/leaflet-plugins/leaflet-sidebar/src/L.Control.Sidebar.js" ></script>

<link rel="stylesheet" href="{{STATIC_URL}}js/Leaflet/leaflet-plugins/Leaflet.MousePosition/src/L.Control.MousePosition.css" />
<script src="{{STATIC_URL}}js/Leaflet/leaflet-plugins/Leaflet.MousePosition/src/L.Control.MousePosition.js" ></script>

<script src="{{STATIC_URL}}js/Leaflet/leaflet-plugins/Leaflet.groupedlayercontrol/src/leaflet.groupedlayercontrol.js" ></script>

<link rel="stylesheet" href="{{STATIC_URL}}js/Leaflet/leaflet-plugins/Leaflet.draw/dist/leaflet.draw.css" />
<script src="{{STATIC_URL}}js/Leaflet/leaflet-plugins/Leaflet.draw/dist/leaflet.draw-src.js" ></script>

<link rel="stylesheet" href="{{STATIC_URL}}js/Leaflet/leaflet-plugins/Leaflet.MeasureControl/leaflet.measurecontrol.css" />
<script src="{{STATIC_URL}}js/Leaflet/leaflet-plugins/Leaflet.MeasureControl/leaflet.measurecontrol.js" ></script>

<link rel="stylesheet" href="{{STATIC_URL}}js/Leaflet/leaflet-plugins/leaflet.fullscreen/Control.FullScreen.css" />
<script src="{{STATIC_URL}}js/Leaflet/leaflet-plugins/leaflet.fullscreen/Control.FullScreen.js" ></script>

<link rel="stylesheet" href="{{STATIC_URL}}js/Leaflet/leaflet-plugins/leaflet-control-osm-geocoder/Control.OSMGeocoder.css" />
<script src="{{STATIC_URL}}js/Leaflet/leaflet-plugins/leaflet-control-osm-geocoder/Control.OSMGeocoder.js" ></script>

<script src="{{STATIC_URL}}js/Leaflet/leaflet-plugins/leaflet-ajax/dist/leaflet.ajax.js" ></script>
<script src="{{STATIC_URL}}js/Leaflet/leaflet-plugins/leaflet-ajax/dist/leaflet.ajax.event.js" ></script>

<link rel="stylesheet" href="{{STATIC_URL}}js/Leaflet/leaflet-plugins/leaflet-panel-layers/dist/leaflet-panel-layers.src.css" />
<script src="{{STATIC_URL}}js/Leaflet/leaflet-plugins/leaflet-panel-layers/dist/leaflet-panel-layers.src.js" ></script>


<!-- 2GIS -->
<script src="http://maps.api.2gis.ru/1.0" type="text/javascript"></script>
<script src="{{STATIC_URL}}js/Leaflet/leaflet-plugins/Leaflet-dgis/dgis.js"></script>

<!--Google -->
<script src = "http://maps.google.com/maps/api/js?v=3&sensor=false" ></script>
<script src="{{STATIC_URL}}js/Leaflet/leaflet-plugins/leaflet-tiles/Google.js"></script>

<!--Yandex -->
<script src = "http://api-maps.yandex.ru/2.0/?load=package.map&lang=ru-RU" ></script>
<script src="{{STATIC_URL}}js/Leaflet/leaflet-plugins/leaflet-tiles/Yandex.js"></script>


<!-- Project static files -->
<link rel="stylesheet" href="{{STATIC_URL}}css/measure.css"/>
<link rel="stylesheet" href="{{STATIC_URL}}css/sidebar.css"/>
<link rel="stylesheet" href="{{STATIC_URL}}css/map.css"/>
<link rel="stylesheet" href="{{STATIC_URL}}css/login-dialog.css"/>

<script src="{{STATIC_URL}}js/map.js"></script>
<script src="{{STATIC_URL}}js/measure_control.js"></script>
<script src="{{STATIC_URL}}js/layers.js"></script>
<script src="{{STATIC_URL}}js/login.js"></script>
<script src="{{STATIC_URL}}js/sidebar.js"></script>

<!-- JQuery plugins static files -->
<link rel="stylesheet" href="{{STATIC_URL}}js/JQuery/plugins/lokku-jquery-nstslider/dist/jquery.nstSlider.css"/>
<script src="{{STATIC_URL}}js/JQuery/plugins/lokku-jquery-nstslider/dist/jquery.nstSlider.js"></script>

