<div class="modal fade" id="login-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="active"><a href="#login-tab" role="tab" data-toggle="tab">Вход</a></li>
                  <li><a href="#create-acc-tab" role="tab" data-toggle="tab">Регистрация</a></li>
              </ul>
            </div>
          <div class="modal-body">


              <!-- Nav tabs -->
              

              <!-- Tab panes -->
              <div class="tab-content">
                  <div class="tab-pane active" id="login-tab">
                    
                      <form id="login-form" class="navbar-form">
                          <div class="input-group">
                              <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                              <input id="login-user" type="text" class="form-control" placeholder="Пользователь">
                          </div>

                          <div class="input-group">
                              <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                              <input id="login-password" type="password" class="form-control" placeholder="Пароль">
                          </div>

                          <div class="alert alert-danger" role="alert" id="login-error">Неверный пользователь или пароль</div>
                      </form>

                      <div class="modal-footer">
                          <button type="button" data-dismiss="modal" class="btn btn-default">Отмена</button>
                          <button id="execute-login" type="button" class="btn btn-primary" onclick="GIS.login();">Войти</button>
                      </div>

                  </div>
                  <div class="tab-pane" id="create-acc-tab">

                      <form id="create-acc-form" class="navbar-form">
                          <div class="input-group">
                              <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                              <input id="create-email" type="email" class="form-control" placeholder="E-mail">
                          </div>

                          <div class="input-group">
                              <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                              <input id="create-user" type="text" class="form-control" placeholder="Пользователь">
                          </div>

                          <div class="input-group">
                              <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                              <input id="create-password" type="password" class="form-control" placeholder="Пароль">
                          </div>

                          <div class="input-group">
                              <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                              <input id="create-password-again" type="password" class="form-control" placeholder="Пароль еще раз">
                          </div>

                          <div class="alert alert-danger" role="alert" id="create-error">Этот e-mail уже используется</div>
                      </form>

                      <div class="modal-footer">
                          <button type="button" data-dismiss="modal" class="btn btn-default">Отмена</button>
                          <button id="execute-create-acc" type="button" class="btn btn-primary">Зарегистрироваться</button>
                      </div>

                  </div>
              </div>


              
          </div>
        </div>
    </div>
</div>