<div id="sidebar">
	
	<div style="margin-bottom: 10px;">
		<div class="btn-group btn-group-justified btn-group-xs" data-toggle="buttons">
			<label class="btn btn-primary btn-group-xs active">
				<input type="radio" name="options" id="option1" checked>Взять в аренду
			</label>

			<label class="btn btn-primary btn-group-xs">
				<input type="radio" name="options" id="option2">
				Купить
			</label>
		</div>
	</div>

	<div class="input-group input-group-sm">
      <input type="text" class="form-control" placeholder="Город, улица, дом">
      <span id="search-clear" class="glyphicon glyphicon-remove form-control-feedback"></span>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
        	<span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
    </div>

	<!--<div style="display: flex; margin-top: 10px;">

		<img src="{{STATIC_URL}}images/flat.png" alt="Квартиры и комнаты" class="img-circle">

		<select id="search-type" class="form-control input-sm input-xs">
			<option selected value="all">Все виды недвижимости</option>
			<option value="flat">Квартиры и комнаты</option>
			<option value="dacha">Дома и дачи</option>
			<option value="plot">Участки</option>
			<option value="office">Офисы</option>
			<option value="trade">Торговля</option>
			<option value="warehouse">Склады</option>
			<option value="production">Производство</option>
			<option value="garage">Парковка</option>
		</select>
	</div>

	<div style="display: flex; margin-top: 10px;">
		<select id="search-price-start" class="form-control input-sm input-xs" style="margin-right: 10px;">
			<option selected value="all">Цена от ...</option>
			<option value="0.5" >500 р.</option>
			<option value="1000" >1 тыс. р.</option>
			<option value="2000">2 тыс. р.</option>
			<option value="3000">3 тыс. р.</option>
			<option value="4000">4 тыс. р.</option>
			<option value="5000">5 тыс. р.</option>
			<option value="6000">6 тыс. р.</option>
			<option value="7000">7 тыс. р.</option>
			<option value="8000">8 тыс. р.</option>
			<option value="9000">9 тыс. р.</option>
			<option value="10000">10 тыс. р.</option>
			<option value="11000">11 тыс. р.</option>
			<option value="12000">12 тыс. р.</option>
			<option value="13000">13 тыс. р.</option>
			<option value="14000">14 тыс. р.</option>
			<option value="15000">15 тыс. р.</option>
			<option value="16000">16 тыс. р.</option>
			<option value="17000">17 тыс. р.</option>
			<option value="18000">18 тыс. р.</option>
			<option value="19000">19 тыс. р.</option>
			<option value="20000">20 тыс. р.</option>
			<option value="21000">21 тыс. р.</option>
			<option value="22000">22 тыс. р.</option>
			<option value="23000">23 тыс. р.</option>
			<option value="24000">24 тыс. р.</option>
			<option value="25000">25 тыс. р.</option>
			<option value="27000">27 тыс. р.</option>
			<option value="29000">29 тыс. р.</option>
			<option value="31000">31 тыс. р.</option>
			<option value="33000">33 тыс. р.</option>
			<option value="35000">35 тыс. р.</option>
			<option value="40000">40 тыс. р.</option>
			<option value="45000">45 тыс. р.</option>
			<option value="50000">50 тыс. р.</option>
			<option value="60000">60 тыс. р.</option>
			<option value="70000">70 тыс. р.</option>
			<option value="80000">80 тыс. р.</option>
			<option value="100000">100 тыс. р.</option>
			<option value="150000">150 тыс. р.</option>
			<option value="200000">200 тыс. р.</option>
		</select>

		<select id="search-price-end" class="form-control input-sm input-xs">
			<option selected value="all">Цена до ...</option>
			<option value="0.5" >500 р.</option>
			<option value="1000" >1 тыс. р.</option>
			<option value="2000">2 тыс. р.</option>
			<option value="3000">3 тыс. р.</option>
			<option value="4000">4 тыс. р.</option>
			<option value="5000">5 тыс. р.</option>
			<option value="6000">6 тыс. р.</option>
			<option value="7000">7 тыс. р.</option>
			<option value="8000">8 тыс. р.</option>
			<option value="9000">9 тыс. р.</option>
			<option value="10000">10 тыс. р.</option>
			<option value="11000">11 тыс. р.</option>
			<option value="12000">12 тыс. р.</option>
			<option value="13000">13 тыс. р.</option>
			<option value="14000">14 тыс. р.</option>
			<option value="15000">15 тыс. р.</option>
			<option value="16000">16 тыс. р.</option>
			<option value="17000">17 тыс. р.</option>
			<option value="18000">18 тыс. р.</option>
			<option value="19000">19 тыс. р.</option>
			<option value="20000">20 тыс. р.</option>
			<option value="21000">21 тыс. р.</option>
			<option value="22000">22 тыс. р.</option>
			<option value="23000">23 тыс. р.</option>
			<option value="24000">24 тыс. р.</option>
			<option value="25000">25 тыс. р.</option>
			<option value="27000">27 тыс. р.</option>
			<option value="29000">29 тыс. р.</option>
			<option value="31000">31 тыс. р.</option>
			<option value="33000">33 тыс. р.</option>
			<option value="35000">35 тыс. р.</option>
			<option value="40000">40 тыс. р.</option>
			<option value="45000">45 тыс. р.</option>
			<option value="50000">50 тыс. р.</option>
			<option value="60000">60 тыс. р.</option>
			<option value="70000">70 тыс. р.</option>
			<option value="80000">80 тыс. р.</option>
			<option value="100000">100 тыс. р.</option>
			<option value="150000">150 тыс. р.</option>
			<option value="200000">200 тыс. р.</option>
		</select>
	</div>

	<div style="display: flex; margin-top: 10px;">
		<select id="search-date" class="form-control input-sm input-xs">
			<option selected>сегодня</option>
			<option>вчера</option>
			<option>за 3 дня</option>
			<option>за неделю</option>
			<option>за месяц</option>
		</select>
	</div>

	<div class="panel-group" id="accordion" style="margin-top: 10px;">
	  	<div class="panel panel-default" style="box-shadow: none; border: none;">
		    <div class="panel-heading" style="padding: 3px">
		        <h5 style="margin: 0px; text-align: center;">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
			            Расширенный поиск
			        </a>
		        </h5>
		    </div>
		    <div id="collapseOne" class="panel-collapse collapse in">
		        <div id="search-advanced" class="panel-body" style="padding: 0px;">

		        	<div class="panel-group" id="search-area" style="margin-top: 5px;">
					  	<div class="panel panel-default">
						    <div class="panel-heading" style="padding: 0px;">
						        <h5 style="margin: 0px;">
							        <a data-toggle="collapse" data-parent="#search-area" href="#collapse-search-area">
							            Площадь <span id="area-start">от</span> до
							            <span id="area-finish">от</span>
							        </a>
						        </h5>
						    </div>
						    <div id="collapse-search-area" class="panel-collapse collapse in">
						        <div id="search-area" class="panel-body" style="padding: 0px; display: flex;">
						        	

									<div class="nstSlider" data-aria_enabled="true"
									    data-range_min="10" data-range_max="200" data-cur_min="10" data-cur_max="200">

									    <div class="bar"></div>
									    <div class="leftGrip"></div>
									    <div class="rightGrip"></div>
									</div>
									<div class="leftLabel" />
									<div class="rightLabel" />

									<div class="ariaAttributesAsText"></div>

						        </div>
						    </div>
					  	</div>
					</div>
		        </div>
		    </div>
	  	</div>
	</div>-->

</div>

