.sidebar-control {
	background-color: white;
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	border-radius: 4px;
	cursor: pointer;
}

.sidebar-map-button-close {
	height: 50px;
	width: 26px;
	background-image: url('/static/images/arrow_sans_right.png') !important;
	background-position: center;
	background-repeat: no-repeat;
}

.sidebar-map-button-open {
	height: 50px;
	width: 26px;
	background-image: url('/static/images/arrow_sans_left.png') !important;
	background-position: center;
	background-repeat: no-repeat;
}

.leaflet-sidebar > .leaflet-control {
	padding: 8px 10px;
}

.input-xs {
	height: 24px !important;
	line-height: 24px !important;
	padding: 0px 10px !important;
}

.slider-price {
	width: 100% !important;
	margin: 0px 10px;
}

#search-clear {
	position: absolute;
	top: 0px;
	right: 40px;
	z-index: 2;
	display: block;
	width: 34px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}
