html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#map {
  position: absolute;
  top: 52px;
  left: 0;
  right: 0;
  bottom: 0;

}

.text-11 {
	font-size: 11px;
}

.text-12 {
	font-size: 12px;
}

.text-14 {
	font-size: 14px;
}

.text-16 {
	font-size: 16px;
}

.text-18 {
	font-size: 18px;
}

.text-bold {
	font-weight: bold;
}

.text-center {
	text-align: center;
}

.navbar-default {
	border-radius: 0px;
	background-color: #428bca;
	border-color: #428bca;
	z-index: 1001;
}

.navbar-default .navbar-nav>li>a {
	color: aliceblue;
}