#login-dialog .modal-dialog{
	width: 350px;
}

#login-dialog .input-group{
    margin-bottom: 10px;
}

#login-dialog .modal-header{
	padding-bottom: 5px;
	padding-top: 5px;
}

#login-dialog .modal-footer{
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 0px;
	margin: 0px;
}

#login-dialog .modal-body{
	padding-bottom: 0px;
	padding-top: 10px;
}

#login-dialog .modal-header{
	padding-left: 20px;
}

#login-dialog .navbar-form {
	padding-left: 0px;
	padding-right: 0px;
}

#execute-login {
	width: 78px;
}

#login-error, #create-error {
	margin: 0px;
	padding: 0px;
	padding-left: 5px;
	display: none;
}

#login-dialog {
	overflow-y: auto; 
}